<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input  th:unless="${checked}"
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <input  th:if="${checked}"
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == checked}" />
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr/>

    <!--Display job results-->
    <div th:fragment="list-jobs">
        <!--For 0 search results, give user feedback message-->
        <div th:if="${jobs} and ${jobs.size() == 0}">
            <h3>No results found, please try again.</h3>
        </div>

        <div th:if="${jobs} and ${jobs.size()}">
            <!--Display # of search results-->
            <h3 th:text="${jobs.size()} + ' Result(s)'"></h3>
            <!--Each job takes up a separate table, with one field per row-->
            <table th:each="job, idx : ${jobs}" th:class="job-listing">
                <tr th:each="idx : ${job}">
                    <td th:text="${#strings.capitalize(idx.key)}"></td>
                    <td th:unless="${idx.key.equals('name')}">
                        <a  th:href="@{/list/jobs(column=${idx.key},value=${idx.value})}"
                            th:text="${idx.value}">
                        </a>
                    </td>
                    <td th:if="${idx.key.equals('name')}" th:text="${idx.value}">

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>